* {
  box-sizing: border-box;
}

html {
  font-family: "PT Sans", sans-serif;
  font-size: 16px;
}

a {
  text-decoration: none;

  color: $base-color;

  font-size: 1.375rem;
  font-weight: bold;
}

.container {
  display: grid;

  max-width: $large;
  margin: 0 auto;
  padding: 0 $gap;
}
