* {
  box-sizing: border-box;
}

html {
  font-family: "PT Sans", sans-serif;
  font-size: 16px;
}

a {
  text-decoration: none;

  color: $base-color;
  transition: color 0.5s;
}

.container {
  display: grid;

  max-width: $large;
  margin: 0 auto;
  padding-right: $gap;
  padding-left: $gap;
}
