$large: 1024px;
$medium: 992px;
$small: 768px;
$xsmall: 576px;

$max-width: 960px;
$gap: 20px;

@media (min-width: $medium + 1) {
}

@media (max-width: $medium) and (min-width: $small + 1) {
}

@media (max-width: $small) and (min-width: $xsmall + 1) {
}

@media (max-width: $xsmall) {
}
