.header-slider {
  @media (min-width: $small + 1) {
    grid-template-rows: minmax(500px, max-content) 100px;
  }

  @media (max-width: $small) {
    grid-template-rows: minmax(300px, max-content) 80px;
  }
}

.slide {
  display: none;
  float: left;

  margin-top: $gap;

  opacity: 0;

  grid-row-gap: $gap;

  @media (min-width: $medium + 1) {
    grid-column-gap: 180px;
    grid-template-columns: 1fr auto;
    grid-template-areas: "ttl img" "stl img" "dsc img" "brd img";
  }

  @media (max-width: $medium) and (min-width: $small + 1) {
    grid-column-gap: 60px;
    grid-template-columns: 1fr auto;
    grid-template-areas: "ttl img" "stl img" "dsc img" "brd img";
  }

  @media (max-width: $small) and (min-width: $xsmall + 1) {
    grid-column-gap: 40px;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "ttl img" "stl img" "dsc img" "brd img";
  }

  @media (max-width: $xsmall) {
    grid-column-gap: 20px;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "ttl ttl" "stl stl" "dsc img" "brd brd";
  }

  &__title {
    margin: 0;

    font-size: 2rem;

    grid-area: ttl;
    align-self: end;
  }

  &__subtitle {
    margin: 0;

    font-size: 1.25rem;

    grid-area: stl;
  }

  &__description {
    margin: 0;
    margin-top: 2px;

    color: $gray-color;

    line-height: 1.325;

    grid-area: dsc;
  }

  &__brands {
    display: flex;

    margin: 0;
    margin-top: $gap * 0.85;
    padding: 0;

    list-style: none;

    grid-area: brd;

    @media (max-width: $xsmall) {
      justify-content: center;
    }

    li:not(:last-of-type) {
      margin-right: $gap * 1.75;
    }

    i {
      font-size: 2.75rem;
    }

    a {
      &:hover,
      &:focus {
        text-shadow: 0 0 15px $light-color;
      }
    }
  }

  &__image {
    margin-top: 4px;

    grid-area: img;

    @media (min-width: $small + 1) {
      margin-right: $gap * 1.5;
    }

    @media (max-width: $small) {
      img {
        max-width: 100%;
      }
    }
  }

  &.active {
    display: grid;

    opacity: 1;
  }
}

.indicators {
  display: flex;

  margin: 0;
  padding: 0;

  list-style: none;

  align-items: center;
  justify-content: center;
}

.indicator {
  width: $gap * 0.75;
  height: $gap * 0.75;
  margin: -9px 3px 0;

  cursor: pointer;

  opacity: 0.5;
  border-radius: $gap * 0.375;
  background-color: $light-color;

  &.active {
    opacity: 1;
  }
}